
/*.button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 20px 5px;
  border-radius: 20%;
  background-color: blue;
  min-width:60px;
}*/

/*.textbox{
  width: 40%;
  padding: 12px 12px;
  margin: 8px 8px;
  box-sizing: border-box;
  font-size: 18px;
}
*/
/*.nodeButton{
  padding: 12px 12px;
  margin: 8px 8px;
  width: 70px;
  height: 90px;
  border-color: white; 
  align-items: center; 
  position: relative;
}*/

/*.label{
  font-size: 20px;
  margin: 8px 8px;
}*/

.nav-itenm{
  padding: 10px
}

.padding{
  padding: 10px
}

